<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Toolkit.Audio" version="2.0.7" targetFramework="wp71" />
  <package id="Coding4Fun.Toolkit.Complete" version="2.0.7" targetFramework="wp71" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp71" />
  <package id="Coding4Fun.Toolkit.Net" version="2.0.7" targetFramework="wp71" />
  <package id="Coding4Fun.Toolkit.Storage" version="2.0.7" targetFramework="wp71" />
  <package id="ExifLib" version="1.4.7.0" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" targetFramework="wp71" />
  <package id="WriteableBitmapEx" version="1.0.8.0" targetFramework="wp71" />
  <package id="ZXing.Net" version="0.12.0.0" targetFramework="wp71" />
</packages>